# ---- FLYCAST ----
flycast_threaded_rendering = enabled
flycast_internal_resolution = 640x480
flycast_anisotropic_filtering = off
flycast_enable_dsp = disabled
flycast_synchronous_rendering = disabled
flycast_enable_rtt = disabled
flycast_enable_rttb = disabled
flycast_delay_frame_swapping = disabled
# Alpha sorting should be set to per strip
flycast_alpha_sorting = per-strip (fast, least accurate)
flycast_div_matching = auto
# Texupscale should be off
flycast_texupscale = off
# Vibration support should be on
flycast_enable_purupuru = enabled
# ---- YABASNASHIRO ----
# 4M extended ram enabled
yabasanshiro_addon_cart = 4M_extended_ram
# Frameskip should be on
yabasanshiro_frameskip = enabled
# Compute shader should be off
yabasanshiro_rbg_use_compute_shader = disabled
# Dynarec should be on
yabasanshiro_sh2coretype = dynarec
# Original Rbg resolution should be on
yabasanshiro_rbg_resolution_mode = original
# Original resolution should be on
yabasanshiro_resolution_mode = original
# Perspective correction resolution should be on for polygon mode
yabasanshiro_polygon_mode = perspective_correction
