Art-Book-4-3 https://github.com/szalik-rg351/es-theme-art-book-4-3
Airen https://github.com/szalik-rg351/es-theme-airen-4-3
Ultimate-Book https://github.com/szalik-rg351/es-theme-ultimate-book-4-3
Carbon-Book https://github.com/szalik-rg351/es-theme-carbon-book-4-3
Nes-Book https://github.com/szalik-rg351/es-theme-nes-book-4-3
Kiwi https://github.com/szalik-rg351/ES-Theme-Dark-Kiwimod-RG351-1
EpicBlancheNoir-V https://github.com/kefren68/es-theme-351ELEC-epicblanchenoir-V
Minimal-Book https://github.com/szalik-rg351/es-theme-minimal-book-4-3
Screen-Book https://github.com/szalik-rg351/es-theme-screen-book-4-3 
Pineapple-Book https://github.com/szalik-rg351/es-theme-pineapple-book-4-3
GBZ https://github.com/szalik-rg351/351elec-rg351v-gbz
Cody-Epic https://github.com/szalik-rg351/351elec-rg351v-epic-cody
Cody-Destroy https://github.com/szalik-rg351/351elec-rg351v-cody-destroy
Handheld-Simple https://github.com/szalik-rg351/es-theme-handheld-simple
# This line will be ignored but its needed heheh