
# The purpose of this build is to allow a 'draft' release be created with the correct version, etc.
# 
#  This 'draft' release can be used as the basis for the 'real' release.
#  NOTE: The draft is also marked as 'prerelease' so it can be rolled out to the 'beta' channel if desired.
name: release-draft
on:
  workflow_dispatch:  # allows manual runs
    inputs:
      release_tag:
        description: "Tag to release (ex: 20210603 - defaults to today)"
        required: false
      release_name:
        description: "Name to use for release (ex: Crazy Hedgehog)"
        required: false
        default: RELEASE_NAME
env:
  BRANCH: main
jobs:
  commits:
      runs-on: ubuntu-20.04
      steps:
        - uses: actions/checkout@v3
          name: checkout
          with:
            clean: false
            fetch-depth: 0
            ref: "${{env.BRANCH}}"
        - name: changes
          id: changes
          run: |
              previous_tag=$(git describe --tags --abbrev=0  --match "[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" --match "[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-[0-9]" )
              echo "changes=$(git log ${previous_tag}..HEAD --no-merges --oneline|wc -l)" >> $GITHUB_OUTPUT
        - name: Get date for artifacts
          id: date
          run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
        - name: Version
          id: version
          run: |
             if [[ "${{github.event.inputs.release_tag}}" != "" ]]; then
               echo "version=${{github.event.inputs.release_tag}}" >> $GITHUB_OUTPUT
             else
               echo "version=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
             fi
        - name: Repository Dispatch
          if: ${{ steps.changes.outputs.changes }} != '0'
          uses: peter-evans/repository-dispatch@v2
          with:
            token: ${{ secrets.TRIGGER_BUILD_TOKEN }}
            repository: ${{ github.event.repository.full_name }}
            event-type: release-draft
            client-payload: |
               {
                 "branch" : "${{ env.BRANCH }}",
                 "release_tag" : "${{steps.version.outputs.version}}",
                 "release_name" : "${{github.event.inputs.release_name}}"
               }
            
